<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Index Page</h1>
    <h2>you are at index of Django</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, maxime!</p>
    <hr>
    <h1>RANDOM NUMBER : {{random}}</h1>
    <hr>

    <h1>Name: {{name}}</h1>
    <h1>Age: {{age}}</h1>

    {% if age > 18 %}
    <h1 style="color:blue;">You are Adult , you can vote</h1>
    {% else %}
    <h1 style="color:red;">You are Minor, you cant vote</h1>
    {% endif %}

    <h1>Gender: {{gender}}</h1>

    <h1>Hobbies</h1>

    <h1>{{hobbies}}</h1>

    <ul>
       {% for hobby in hobbies %}
        <li>{{hobby}}</li>

       {% endfor %}
       
    </ul>
   
</body>
</html>